{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current"
      }
    }],
    ["@babel/preset-react", {
      "runtime": "automatic"
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-private-methods",
    "@babel/plugin-proposal-class-properties",
    ["babel-plugin-css-modules-transform", {
      "generateScopedName": "[name]__[local]___[hash:base64:5]",
      "ignore": "**/*.css"
    }]
  ]
}