.home-bubble {
  border-radius: 5em 5em 5em 0;
  color: white;
  background: linear-gradient(180deg, rgba(92, 45, 135, 1) 0%, rgba(31, 133, 193, 1) 100%);
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  opacity: 0; /* Start fully transparent */
  transform: translateY(50px); /* Start slightly lower */
  /* Ensure animations don't conflict */
  animation-fill-mode: forwards;
  min-width: 200px;
}

.home-bubble img {
  width: 50%;
  height: auto;
  margin-bottom: 0.5em;
}

.unique-header {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top: 0.5em;
}

/* RiseUp Animation */
@keyframes riseUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-bubble.in-view {
  animation-name: riseUp;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: inherit;
}

.home-bubble.in-view:not(.rise-up-complete) {
  animation-name: riseUp;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

/* Persistent final state of riseUp animation */
.home-bubble.rise-up-complete {
  opacity: 1;
  transform: translateY(0); /* Ensures it remains in final position */
}

/* Wiggle animation on hover */
.home-bubble.rise-up-complete:hover {
  animation: wiggle 0.5s ease-in-out;
  animation-iteration-count: 1; /* Ensure wiggle repeats once per hover */
  animation-fill-mode: none; /* Reset to allow for re-triggering on each hover */
}

/* Wiggle Animation */
@keyframes wiggle {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(-5px) rotate(-5deg);
  }
  30% {
    transform: translateX(5px) rotate(5deg);
  }
  45% {
    transform: translateX(-5px) rotate(-5deg);
  }
  60% {
    transform: translateX(5px) rotate(5deg);
  }
  75% {
    transform: translateX(-5px) rotate(-5deg);
  }
  100% {
    transform: translateX(0);
  }
}

.home-bubble.wiggle {
  /* Only specify wiggle animation properties */
  animation-name: wiggle;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  /* Do not set animation-fill-mode to avoid interfering with riseUp */
}
