#tiled-1 {
    background-image: linear-gradient(180deg, rgba(31, 25, 104, 0) -50%, rgba(31, 25, 104, 1) 100%), 
                      linear-gradient(180deg, rgba(31, 25, 104, 0) -50%, rgba(31, 25, 104, 0.45) 100%), 
                      linear-gradient(180deg, rgba(31, 25, 104, 0) -50%, rgba(31, 25, 104, 0.45) 100%), 
                      url("/images/tiled.png") !important;
    background-blend-mode: darken, multiply, multiply;
    padding-bottom: 10em;
    mask: url("/images/wave_tall.svg");
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: bottom;
    mask-composite: exclude;
    color: white !important;
  }
  
  #tiled-1 h1 {
    color: #14b7ff;
  }
  
  #tiled-1 .contact-us {
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(92, 45, 135, 1) 0%, rgba(31, 133, 193, 1) 100%);
    transition: background 0.3s;
  }
  
  #tiled-1 .contact-us:hover {
    background: linear-gradient(90deg, rgba(92, 45, 135, 0.8) 0%, rgba(31, 133, 193, 0.8) 100%);
  }
  
  #tiled-1 .contact-us:active {
    background: linear-gradient(90deg, rgba(92, 45, 135, 1.2) 0%, rgba(31, 133, 193, 1.2) 100%);
  }
  
  #tiled-1 .contact-us::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s, width 0.3s, height 0.3s;
  }
  
  #tiled-1 .contact-us:active::after {
    width: 200%;
    height: 200%;
    opacity: 1;
    transition: opacity 0.3s, width 0.3s 0.3s, height 0.3s 0.3s;
  }
  
  #tiled-2 {
    position: relative;
    overflow: hidden;
    color: rgba(255, 255, 255, 0) !important;
  }
  
  #tiled-2::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-blend-mode: darken, multiply, multiply;
    z-index: 1;
  }
  
  #tiled-2-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 266%;
    height: 120%;
    background: linear-gradient(rgba(32, 25, 104, 0.403), rgba(32, 25, 104, 0.403)), 
                url("/images/tiled.png");
    background-repeat: repeat;
    background-size: 10% 30%;
    animation: wave2 40s infinite linear, wave 10s infinite linear;
    z-index: 2;
    mask-image: url("/images/FeatureBox2.svg");
    -webkit-mask-image: url("/images/FeatureBox2.svg");
    mask-size: 33.33% 100%;
    -webkit-mask-size: 33.33% 100%;
    mask-repeat: repeat-x;
    -webkit-mask-repeat: repeat-x;
  }
  
  #tiled-2-content {
    position: relative;
    z-index: 3;
    padding-top: 6em;
    padding-bottom: 6em;
  }
  
  .subheader {
    border-radius: 2.5em 0 2.5em 0;
    background: rgb(96, 113, 178);
    color: white;
    width: fit-content;
    margin: auto;
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
  
  .testimonial-header {
    color: #000067;
    border-radius: 2.5em 0 2.5em 0;
    background: #a7bcfb;
    width: fit-content;
    margin: auto;
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
  
  #carouselTestimonial {
    position: relative;
  }
  
  #carouselTestimonial .carousel-inner {
    padding: 0 50px;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    width: auto;
    position: relative;
  }
  
  .carousel-button {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%; 
  }
  
  .prev-icon {
    background-image: url("/images/left-arrow.svg");
  }
  
  .next-icon {
    background-image: url("/images/right-arrow.svg");
  }
  
  .testimonial-item {
    text-align: center;
    padding: 1em;
  }
  
  #carouselTestimonial .d-flex {
    min-height: 100px;
  }
  